<div class="inner-content">
  <div class="panel theme-panel">
    <div class="panel-heading">
      <h1 class="text-center">
        Reporte Productos con Mayor Stock
      </h1>
    </div>
    <div class="panel-body">
      <div class="row clearfix" style="height:50%">
        <div class="col-xs-12 col-md-12">
          <p-table #dt [columns]="cols" [value]="productosArray">
            <ng-template pTemplate="caption">
              <div class="ui-helper-clearfix">
                <div class="col-sm-12 text-right">
                  <button type="button" pButton icon="fa fa-download" iconPos="left" label="Exportar Todo" (click)="dt.exportCSV()"></button>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" class="{{col.class}}">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-sm-12">
          <p-chart type="doughnut" [data]="data" [options]="options" height="250px"></p-chart>
        </div>
      </div>
    </div>
  </div>
</div>
