/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/hoe.css';
@import '~font-awesome/css/font-awesome.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';

.errorMessage {
  padding: 5px 10px;
  color: #a94442;
}

fieldset.scheduler-border {
  border: 1px solid #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  border-radius: 5px;
}

legend.scheduler-border {
  width: inherit; /* Or auto */
  padding: 0 10px; /* To give a bit of padding on the left and right */
  border-bottom: none;
}
