<div class="inner-content">
  <div class="panel theme-panel">
    <div class="panel-heading">
      <h3 *ngIf="!isEdition" class="panel-title"><i class="fa fa-star" aria-hidden="true"></i> Nueva Venta</h3>
      <h3 *ngIf="isEdition" class="panel-title"> <i class="fa fa-star" aria-hidden="true"></i> Detalle Venta</h3>
    </div>
    <div class="panel-body">
      <div class="row clearfix">
        <div class="col-xs-12 col-md-9">
          <div class="row" *ngIf="!isEdition">
            <label>Producto:</label>
            <p-autoComplete [suggestions]="filteredProductos"
                            (completeMethod)="filterProduct($event)"
                            (onSelect)="selectProducto($event)"
                            field="nombreAutocomplete"
                            [styleClass]="form-control"
                            size="100"
                            placeholder="Producto" [minLength]="3"></p-autoComplete>
            <br /><br />
          </div>          
          <div class="row">
            <p-table #dt [columns]="cols" [value]="productosArray" [scrollable]="true" scrollHeight="200px" (onEditComplete)="updateTotal($event.data)">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngIf="!isEdition">Opciones</th>
                  <th *ngFor="let col of columns" class="{{col.class}}">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                  <td *ngIf="!isEdition">
                    <button class="btn btn-danger" (click)="deleteProducto(rowData)">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>
                  <td>{{rowData.fc_Codigo}}</td>
                  <td>{{rowData.fc_NombreProducto}}</td>
                  <td [pEditableColumn]="rowData">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input type="number" min="1" (change)="updateTotal(rowData)" [(ngModel)]="rowData.fi_Cantidad">
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{rowData.fi_Cantidad}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>{{rowData.fn_PrecioVenta | currency}}</td>
                  <td>{{rowData.fn_Total | currency}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <br /><br />
          <footer>
            <div class="row">
              <div class="col-md-3 col-md-offset-1">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">TOTAL</h3>
                  </div>
                  <div class="panel-body">
                    {{ventaModel.fn_Total | currency}}
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-md-offset-1">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">RECIBIDO</h3>
                  </div>
                  <div class="panel-body">
                    {{montoRecibido | currency}}
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-md-offset-1">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">CAMBIO</h3>
                  </div>
                  <div class="panel-body">
                    {{montoCambio | currency}}
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>
        <aside class="col-xs-12 col-md-3">
          <form [formGroup]="ventaForm" (ngSubmit)="realizarVenta()">
            <div class="row text-center">
              <div class="col-md-12 hdrdataTable">
                <h1>{{ventaModel.fn_Total | currency}}</h1>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-6">
                <label>Comprobante*</label>
                <select class="form-control" formControlName="ventaComprobante" required [(ngModel)]="ventaModel.comprobante" [attr.disabled]="isEdition ? '' : null">
                  <option value="0">Comprobante...</option>
                  <option *ngFor="let comprobante of comprobantesArray" [value]="comprobante.fi_IdCatComprobante">{{comprobante.fc_NombreComprobante}}</option>
                </select>
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': ventaForm.get('ventaComprobante').errors
     && ventaForm.get('ventaComprobante').touched}"></span>
                <div *ngIf="ventaForm.get('ventaComprobante').errors   && ventaForm.get('ventaComprobante').touched"
                     class="errorMessage">
                  <div *ngIf="ventaForm.get('ventaComprobante').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="ventaForm.get('ventaComprobante').errors.min">
                    Este Campo es Requerido.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label>Tipo de Pago*</label>
                <select class="form-control" formControlName="ventaMetodoPago" required [(ngModel)]="ventaModel.metodoPago" [attr.disabled]="isEdition ? '' : null">
                  <option value="0">Método de Pago...</option>
                  <option *ngFor="let metodoPago of metodoPagosArray" [value]="metodoPago.fi_IdCatMetodoPago">{{metodoPago.fc_NombreMetodoPago}}</option>
                </select>
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': ventaForm.get('ventaMetodoPago').errors
     && ventaForm.get('ventaMetodoPago').touched}"></span>
                <div *ngIf="ventaForm.get('ventaMetodoPago').errors   && ventaForm.get('ventaMetodoPago').touched"
                     class="errorMessage">
                  <div *ngIf="ventaForm.get('ventaMetodoPago').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="ventaForm.get('ventaMetodoPago').errors.min">
                    Este Campo es Requerido.
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-6" [ngClass]="{'has-success': !ventaForm.get('ventaNumero').touched}">
                <label>No. Venta*</label>
                <input type="text"
                       [(ngModel)]="ventaModel.fc_NumeroVenta"
                       formControlName="ventaNumero"
                       class="form-control"
                       required
                       placeholder="Número de Venta"
                       [attr.disabled]="isEdition ? '' : null"
                       maxlength="4" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': ventaForm.get('ventaNumero').errors
     && ventaForm.get('ventaNumero').touched}"></span>
                <div *ngIf="ventaForm.get('ventaNumero').errors   && ventaForm.get('ventaNumero').touched"
                     class="errorMessage">
                  <div *ngIf="ventaForm.get('ventaNumero').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="ventaForm.get('ventaNumero').errors.minlength || ventaForm.get('ventaNumero').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 4 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-md-6" [ngClass]="{'has-success': !ventaForm.get('ventaDescuento').touched}">
                <label>Descuento</label>
                <input type="text"
                       [(ngModel)]="ventaModel.fn_DescuentoPorcentaje"
                       formControlName="ventaDescuento"
                       class="form-control"
                       (change)="aplicaDescuento()"
                       placeholder="Descuento"
                       [attr.disabled]="isEdition ? '' : null"
                       maxlength="3" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': ventaForm.get('ventaDescuento').errors
     && ventaForm.get('ventaDescuento').touched}"></span>
                <div *ngIf="ventaForm.get('ventaDescuento').errors   && ventaForm.get('ventaDescuento').touched"
                     class="errorMessage">
                  <div *ngIf="ventaForm.get('ventaDescuento').errors.min">
                    Introduzca un número mayor o igual a 0
                  </div>
                  <div *ngIf="ventaForm.get('ventaDescuento').errors.max">
                    Introduzca un número menor o igual a 100
                  </div>
                  <div *ngIf="ventaForm.get('ventaDescuento').errors.pattern">
                    Introduzca un número válido.
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12" [ngClass]="{'has-success': !ventaForm.get('ventaCliente').touched}">
                <label>Cliente*</label>
                <select class="form-control" formControlName="ventaCliente" required [(ngModel)]="ventaModel.cliente" [attr.disabled]="isEdition ? '' : null">
                  <option value="0">Cliente...</option>
                  <option *ngFor="let cliente of clientesArray" [value]="cliente.fi_IdCatCliente">{{cliente.fc_NombreCliente}}</option>
                </select>
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': ventaForm.get('ventaCliente').errors
     && ventaForm.get('ventaCliente').touched}"></span>
                <div *ngIf="ventaForm.get('ventaCliente').errors   && ventaForm.get('ventaCliente').touched"
                     class="errorMessage">
                  <div *ngIf="ventaForm.get('ventaCliente').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="ventaForm.get('ventaCliente').errors.min">
                    Este Campo es Requerido.
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12" [ngClass]="{'has-success': !ventaForm.get('ventaMontoRecibido').touched}">
                <label>Monto Recibido*</label>
                <input type="text"
                       [(ngModel)]="montoRecibido"
                       formControlName="ventaMontoRecibido"
                       (change)="calculaCambio()"
                       placeholder="Monto Recibido"
                       class="form-control"
                       [attr.disabled]="isEdition ? '' : null"
                       maxlength="10" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': ventaForm.get('ventaMontoRecibido').errors
     && ventaForm.get('ventaMontoRecibido').touched}"></span>
                <div *ngIf="ventaForm.get('ventaMontoRecibido').errors   && ventaForm.get('ventaMontoRecibido').touched"
                     class="errorMessage">
                  <div *ngIf="ventaForm.get('ventaMontoRecibido').errors.min">
                    Introduzca un número mayor o igual a 0
                  </div>
                  <div *ngIf="ventaForm.get('ventaMontoRecibido').errors.pattern">
                    Introduzca un número válido.
                  </div>
                  <div *ngIf="ventaForm.get('ventaMontoRecibido').errors.maxlength">
                    Introduzca un texto válido max 10 caracteres.
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-8">
                <p>SubTotal</p>
                <p>Descuento</p>
                <p>Total</p>
              </div>
              <div class="col-md-4 text-right">
                <p>{{(ventaModel.fn_Total + ventaModel.fn_DescuentoCantidad) | currency}}</p>
                <p>{{ventaModel.fn_DescuentoCantidad | currency}}</p>
                <p>{{ventaModel.fn_Total | currency}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" [disabled]="!isValid()" class="btn hdrdataTable">
                  Guardar Venta
                </button>
                <button type="button" class="btn hdrdataTable" (click)="cancelarVenta()">
                  Cancelar
                </button>
              </div>
            </div>
          </form>
        </aside>
      </div>

      <p-toast position="center" key="confirmation" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-6">
              <button type="button" pButton (click)="acceptConfirm()" label="Si" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
              <button type="button" pButton (click)="rejectConfirm()" label="No" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>

      <p-toast position="center" key="aceptar" (onClose)="closeAccept()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi {{messageIcon}}" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-12">
              <button type="button" pButton (click)="closeAccept()" label="Ok" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>
    </div>
  </div>
</div>
