<div>
  <div *ngIf="isLogedIn" id="hoeapp-wrapper" class="hoe-hide-lpanel" hoe-device-type="desktop">
    <header id="hoe-header" hoe-lpanel-effect="shrink">
      <div class="hoe-left-header">
        <a><i class="fa fa-shopping-cart"></i> <span>{{mainService.nombreEmpresa}}</span></a>
        <span class="hoe-sidebar-toggle"><a></a></span>
      </div>

      <div class="hoe-right-header" hoe-position-type="relative" hoe-color-type="header-bg2">
        <span class="hoe-sidebar-toggle"><a></a></span>

        <!--@*Perfil*@-->
        <ul class="right-navbar">
          <li class="dropdown hoe-rheader-submenu hoe-header-profile">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <span><img class="img-circle " src="../assets/images/user.png"></span>
              <span>{{mainService.nombreUsuario}} <i class=" fa fa-angle-down"></i></span>
            </a>
            <ul class="dropdown-menu ">
              <li><a><i class="fa fa-user"></i>Mi Perfil</a></li>
              <li><a (click)="logout()"><i class="fa fa-power-off"></i>Salir</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </header>
    <!--@*Menú Lateral*@-->
    <div id="hoeapp-container" hoe-color-type="lpanel-bg2" hoe-lpanel-effect="shrink">
      <aside id="hoe-left-panel" hoe-position-type="absolute">
        <ul class="nav panel-list">
          <li class="Menu">
            <a [routerLink]='["/menu"]'>
              <i class="fa fa-home"></i>
              <span class="menu-text">Inicio</span>
              <span class="selected"></span>
            </a>
          </li>
          <li *ngIf="mainService.nivelUsuario == 1" class="hoe-has-menu controller">
            <a>
              <i class="fa fa-indent"></i>
              <span class="menu-text">Almac&eacute;n</span>
              <span class="selected"></span>
            </a>
            <ul class="hoe-sub-menu">
              <li class="Productos">
                <a [routerLink]='["/productos"]'>
                  <span class="menu-text">Productos</span>
                  <span class="selected"></span>
                </a>
              </li>
              <li class="Categorias">
                <a [routerLink]='["/categorias"]'>
                  <span class="menu-text">Categor&iacute;as</span>
                  <span class="selected"></span>
                </a>
              </li>
              <li class="Marcas">
                <a [routerLink]='["/marcas"]'>
                  <span class="menu-text">Marcas</span>
                  <span class="selected"></span>
                </a>
              </li>
              <li class="UnidadesMedida">
                <a [routerLink]='["/unidadesmedida"]'>
                  <span class="menu-text">Unidades de Medida</span>
                  <span class="selected"></span>
                </a>
              </li>
            </ul>
          </li>
          <li *ngIf="mainService.nivelUsuario == 1" class="hoe-has-menu controller">
            <a>
              <i class="fa fa-truck"></i>
              <span class="menu-text">Compras</span>
              <span class="selected"></span>
            </a>
            <ul class="hoe-sub-menu">
              <li class="GestionCompras">
                <a [routerLink]='["/gestioncompras"]'>
                  <span class="menu-text">Gesti&oacute;n de Compras</span>
                  <span class="selected"></span>
                </a>
              </li>
              <li class="Proveedores">
                <a [routerLink]='["/proveedores"]'>
                  <span class="menu-text">Proveedores</span>
                  <span class="selected"></span>
                </a>
              </li>
            </ul>
          </li>
          <li class="hoe-has-menu controller">
            <a>
              <i class="fa fa-shopping-cart"></i>
              <span class="menu-text">Ventas</span>
              <span class="selected"></span>
            </a>
            <ul class="hoe-sub-menu">
              <li *ngIf="mainService.nivelUsuario == 1" class="GestionVentas">
                <a [routerLink]='["/gestionventas"]'>
                  <span class="menu-text">Gesti&oacute;n de Ventas</span>
                  <span class="selected"></span>
                </a>
              </li>
              <li *ngIf="mainService.nivelUsuario == 2" class="NuevaVenta">
                <a [routerLink]='["/nuevaventa"]'>
                  <span class="menu-text">Nueva Venta</span>
                  <span class="selected"></span>
                </a>
              </li>
              <li *ngIf="mainService.nivelUsuario == 1" class="Clientes">
                <a [routerLink]='["/clientes"]'>
                  <span class="menu-text">Clientes</span>
                  <span class="selected"></span>
                </a>
              </li>
            </ul>
          </li>
          <li *ngIf="mainService.nivelUsuario == 1" class="hoe-has-menu controller">
            <a>
              <i class="fa fa-pie-chart"></i>
              <span class="menu-text">Reportes</span>
              <span class="selected"></span>
            </a>
            <ul class="hoe-sub-menu">
              <li class="rCompras">
                <a [routerLink]='["/repcompras"]'>
                  <span class="menu-text">Compras</span>
                  <span class="selected"></span>
                </a>
              </li>
              <li class="rVentas">
                <a [routerLink]='["/repventas"]'>
                  <span class="menu-text">Ventas</span>
                  <span class="selected"></span>
                </a>
              </li>
              <li class="rComprasVentas">
                <a [routerLink]='["/repcomprasventas"]'>
                  <span class="menu-text">Compras vs Ventas</span>
                  <span class="selected"></span>
                </a>
              </li>
              <li class="hoe-has-menu subController">
                <a>
                  <span class="menu-text">Productos</span>
                  <span class="selected"></span>
                </a>
                <ul class="hoe-sub-menu">
                  <li class="MayorStock">
                    <a [routerLink]='["/repmayorstock"]'>
                      <span class="menu-text">Mayor Stock</span>
                      <span class="selected"></span>
                    </a>
                  </li>
                  <li class="MenorStock">
                    <a [routerLink]='["/repmenorstock"]'>
                      <span class="menu-text">Menor Stock</span>
                      <span class="selected"></span>
                    </a>
                  </li>
                  <li class="MasVendidos">
                    <a [routerLink]='["/repmasvendidos"]'>
                      <span class="menu-text">M&aacute;s Vendidos</span>
                      <span class="selected"></span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li *ngIf="mainService.nivelUsuario == 1" class="hoe-has-menu controller">
            <a>
              <i class="fa fa-cog"></i>
              <span class="menu-text">Configuraci&oacute;n</span>
              <span class="selected"></span>
            </a>
            <ul class="hoe-sub-menu">
              <li class="General">
                <a [routerLink]='["/confgeneral"]'>
                  <span class="menu-text">General</span>
                  <span class="selected"></span>
                </a>
              </li>
              <li class="Usuarios">
                <a [routerLink]='["/usuarios"]'>
                  <span class="menu-text">Usuarios</span>
                  <span class="selected"></span>
                </a>
              </li>
              <li class="Comprobantes">
                <a [routerLink]='["/comprobantes"]'>
                  <span class="menu-text">Comprobantes</span>
                  <span class="selected"></span>
                </a>
              </li>
              <li class="MetodosPago">
                <a [routerLink]='["/metodospago"]'>
                  <span class="menu-text">M&eacute;todos de Pago</span>
                  <span class="selected"></span>
                </a>
              </li>
              <!--<li class="Respaldo">
                <a [routerLink]='["/respaldo"]'>
                  <span class="menu-text">Respaldo</span>
                  <span class="selected"></span>
                </a>
              </li>-->
            </ul>
          </li>
        </ul>
      </aside>
      <section id="main-content">
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
</div>
<div>
  <router-outlet name="deslogueado"></router-outlet>
</div>
