<div class="inner-content">
  <div class="panel theme-panel">
    <div class="panel-heading">
      <h1 class="text-center">
        Usuarios
      </h1>
    </div>
    <div class="panel-body">
      <div *ngIf="!isEdit">
        <div class="row">
          <div class="col-sm-12">
            <button [disabled]="usuariosForBulkDelete.length == 0" class="btn btn-danger" (click)="bulkDelete()">
              <i class="fa fa-trash" aria-hidden="true"> Borrar Seleccionado(s)</i>
            </button>
            <button class="btn btn-info" (click)="newUsuario()">
              <i class="fa fa-plus" aria-hidden="true"> Nuevo Usuario</i>
            </button>
          </div>
        </div>
        <br />
        <p-table #dt [columns]="cols" [value]="usuariosArray" [paginator]="true" [rows]="10" [globalFilterFields]="['fc_NombreUsuario','fc_Usuario','fi_NivelAcceso','fc_Direccion','fc_Telefono']">
          <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">
              <div class="col-sm-6 text-left">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>
              <div class="col-sm-6 text-right">
                <button type="button" pButton icon="fa fa-download" iconPos="left" label="Exportar Todo" (click)="dt.exportCSV()"></button>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width:25%">Opciones</th>
              <th *ngFor="let col of columns" class="{{col.class}}">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td>
                <input type="checkbox" #check (click)="addTobulk(rowData)">
                <button class="btn btn-info" (click)="getUsuarioDetail(rowData)">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteUsuario(rowData)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
              <td *ngFor="let col of columns">
                {{(col.field == 'fi_NivelAcceso' && rowData[col.field]== '1' ? 'ADMINISTRADOR' : (col.field == 'fi_NivelAcceso' && rowData[col.field]== '2' ? 'CAJERO' : rowData[col.field]))}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="isEdit">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Usuario</legend>
          <form [formGroup]="usuarioForm" (ngSubmit)="validateExistUsuario(usuarioSelected)">
            <div class="row">
              <div class="col-sm-4" [ngClass]="{'has-success': !usuarioForm.get('usuarioName').touched}">
                <label class="control-label">Nombre*</label>
                <input type="text"
                       [(ngModel)]="usuarioSelected.fc_NombreUsuario"
                       formControlName="usuarioName"
                       class="form-control"
                       placeholder="Nombre"
                       required
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': usuarioForm.get('usuarioName').errors
     && usuarioForm.get('usuarioName').touched}"></span>
                <div *ngIf="usuarioForm.get('usuarioName').errors   && usuarioForm.get('usuarioName').touched"
                     class="errorMessage">
                  <div *ngIf="usuarioForm.get('usuarioName').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="usuarioForm.get('usuarioName').errors.minlength || usuarioForm.get('usuarioName').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !usuarioForm.get('usuarioUserName').touched}">
                <label class="control-label">Usuario*</label>
                <input type="text"
                       [(ngModel)]="usuarioSelected.fc_Usuario"
                       formControlName="usuarioUserName"
                       class="form-control"
                       placeholder="Usuario"
                       required
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': usuarioForm.get('usuarioUserName').errors
     && usuarioForm.get('usuarioUserName').touched}"></span>
                <div *ngIf="usuarioForm.get('usuarioUserName').errors   && usuarioForm.get('usuarioUserName').touched"
                     class="errorMessage">
                  <div *ngIf="usuarioForm.get('usuarioUserName').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="usuarioForm.get('usuarioUserName').errors.minlength || usuarioForm.get('usuarioUserName').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !usuarioForm.get('usuarioNivel').touched}">
                <label class="control-label">Nivel*</label>
                <select class="form-control" formControlName="usuarioNivel" required [(ngModel)]="usuarioSelected.fi_NivelAcceso">
                  <option value="0">Seleccione un Nivel...</option>
                  <option value="1">Administrador</option>
                  <option value="2">Usuario</option>
                </select>
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': usuarioForm.get('usuarioNivel').errors
     && usuarioForm.get('usuarioNivel').touched}"></span>
                <div *ngIf="usuarioForm.get('usuarioNivel').errors   && usuarioForm.get('usuarioNivel').touched"
                     class="errorMessage">
                  <div *ngIf="usuarioForm.get('usuarioNivel').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="usuarioForm.get('usuarioNivel').errors.min">
                    Seleccione un Nivel.
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-4" [ngClass]="{'has-success': !usuarioForm.get('usuarioTelefono').touched}">
                <label class="control-label">Teléfono</label>
                <p-inputMask [(ngModel)]="usuarioSelected.fc_Telefono"
                             mask="(999)-999-9999"
                             unmask="true"
                             formControlName="usuarioTelefono"
                             styleClass="form-control"
                             placeholder="Teléfono"
                             maxlength="100"></p-inputMask>                
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': usuarioForm.get('usuarioTelefono').errors
     && usuarioForm.get('usuarioTelefono').touched}"></span>
                <div *ngIf="usuarioForm.get('usuarioTelefono').errors   && usuarioForm.get('usuarioTelefono').touched"
                     class="errorMessage">
                  <div *ngIf="usuarioForm.get('usuarioTelefono').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="usuarioForm.get('usuarioTelefono').errors.minlength || usuarioForm.get('usuarioTelefono').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-8" [ngClass]="{'has-success': !usuarioForm.get('usuarioDireccion').touched}">
                <label class="control-label">Dirección*</label>
                <input type="text"
                       [(ngModel)]="usuarioSelected.fc_Direccion"
                       formControlName="usuarioDireccion"
                       class="form-control"
                       placeholder="Dirección"
                       required
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': usuarioForm.get('usuarioDireccion').errors
     && usuarioForm.get('usuarioDireccion').touched}"></span>
                <div *ngIf="usuarioForm.get('usuarioDireccion').errors   && usuarioForm.get('usuarioDireccion').touched"
                     class="errorMessage">
                  <div *ngIf="usuarioForm.get('usuarioDireccion').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="usuarioForm.get('usuarioDireccion').errors.minlength || usuarioForm.get('usuarioDireccion').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 150 caracteres.
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-4" [ngClass]="{'has-success': !usuarioForm.get('usuarioPassword').touched}">
                <label class="control-label">Password*</label>
                <input type="password"
                       [(ngModel)]="usuarioSelected.fc_Password"
                       formControlName="usuarioPassword"
                       class="form-control"
                       placeholder="Password"
                       required
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': usuarioForm.get('usuarioPassword').errors
     && usuarioForm.get('usuarioPassword').touched }"></span>
                <div *ngIf="usuarioForm.get('usuarioPassword').errors && usuarioForm.get('usuarioPassword').touched"
                     class="errorMessage">
                  <div *ngIf="usuarioForm.get('usuarioPassword').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="usuarioForm.get('usuarioPassword').errors.minlength || usuarioForm.get('usuarioPassword').errors.maxlength">
                    Introduzca un texto válido min 6 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !usuarioForm.get('usuarioConfPassword').touched}">
                <label class="control-label">Conf. Password*</label>
                <input type="password"
                       [(ngModel)]="usuarioSelected.fc_ConfirmPassword"
                       formControlName="usuarioConfPassword"
                       class="form-control"
                       placeholder="Conf Password"
                       required
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': usuarioForm.get('usuarioConfPassword').errors
     && usuarioForm.get('usuarioConfPassword').touched}"></span>
                <div *ngIf="usuarioForm.get('usuarioConfPassword').errors   && usuarioForm.get('usuarioConfPassword').touched"
                     class="errorMessage">
                  <div *ngIf="usuarioForm.get('usuarioConfPassword').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="usuarioForm.get('usuarioConfPassword').errors.minlength || usuarioForm.get('usuarioConfPassword').errors.maxlength">
                    Introduzca un texto válido min 6 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-5 text-left">
                <button type="button" class="btn btn-default" (click)="isEdit = false">Cancelar</button>
                <button type="submit" class="btn btn-success" [disabled]="usuarioForm.status !== 'VALID'">Guardar</button>
              </div>
            </div>
          </form>
        </fieldset>
      </div>
      <br />


      <p-toast position="center" key="confirmation" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-6">
              <button type="button" pButton (click)="acceptConfirm()" label="Si" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
              <button type="button" pButton (click)="rejectConfirm()" label="No" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>

      <p-toast position="center" key="aceptar" (onClose)="closeError()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi {{messageIcon}}" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-12">
              <button type="button" pButton (click)="closeError()" label="Ok" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>
    </div>
  </div>
</div>
