<div class="inner-content">
  <div class="panel theme-panel">
    <div class="panel-heading">
      <h1 class="text-center">
        Marcas
      </h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <button [disabled]="marcasForBulkDelete.length == 0" class="btn btn-danger" (click)="bulkDelete()">
            <i class="fa fa-trash" aria-hidden="true"> Borrar Seleccionado(s)</i>
          </button>
          <button class="btn btn-info" (click)="newMarca()">
            <i class="fa fa-plus" aria-hidden="true"> Nueva Marca</i>
          </button>
        </div>
      </div>
      <br />
      <div *ngIf="isEdit">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Marca</legend>
          <form [formGroup]="marcaForm" (ngSubmit)="validateExistMarca(marcaSelected)">
            <div class="row">
              <label class="col-sm-2 text-right control-label">Nombre Marca*</label>
              <div class="col-sm-4" [ngClass]="{'has-success': !marcaForm.get('marcaName').touched}">
                <input type="text"
                       [(ngModel)]="marcaSelected.fc_NombreMarca"
                       formControlName="marcaName"
                       class="form-control"
                       placeholder="Nombre Marca"
                       required
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': marcaForm.get('marcaName').errors
     && marcaForm.get('marcaName').touched}"></span>
                <div *ngIf="marcaForm.get('marcaName').errors   && marcaForm.get('marcaName').touched"
                     class="errorMessage">
                  <div *ngIf="marcaForm.get('marcaName').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="marcaForm.get('marcaName').errors.minlength || marcaForm.get('marcaName').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-5 text-left">
                <button type="button" class="btn btn-default" (click)="isEdit = false">Cancelar</button>
                <button type="submit" class="btn btn-success" [disabled]="marcaForm.status!=='VALID'">Guardar</button>
              </div>
            </div>
          </form>
        </fieldset>
      </div>
      <br />
      <p-table #dt [columns]="cols" [value]="marcasArray" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
          <div class="ui-helper-clearfix">
            <div class="col-sm-6 text-left">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
            <div class="col-sm-6 text-right">
              <button type="button" pButton icon="fa fa-download" iconPos="left" label="Exportar Todo" (click)="dt.exportCSV()"></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width:25%">Opciones</th>
            <th *ngFor="let col of columns" class="{{col.class}}">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td>
              <input type="checkbox" #check (click)="addTobulk(rowData)">
              <button class="btn btn-info" (click)="getMarcaDetail(rowData)">
                <i class="fa fa-edit" aria-hidden="true"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteMarca(rowData)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-table>


      <p-toast position="center" key="confirmation" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-6">
              <button type="button" pButton (click)="acceptConfirm()" label="Si" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
              <button type="button" pButton (click)="rejectConfirm()" label="No" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>

      <p-toast position="center" key="aceptar" (onClose)="closeError()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi {{messageIcon}}" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-12">
              <button type="button" pButton (click)="closeError()" label="Ok" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>
    </div>
  </div>
</div>
