<div class="inner-content">
  <div class="panel theme-panel">
    <div class="panel-heading">
      <h1 class="text-center">
        Reporte General de Compras
      </h1>
    </div>
    <div class="panel-body">
      <div class="row clearfix" style="height:50%">
        <div class="col-xs-12 col-md-12">
          <p-table #dt [columns]="cols" [value]="reporteComprasArray">
            <ng-template pTemplate="caption">
              <div class="ui-helper-clearfix">
                <div class="col-sm-8 text-left">
                  <div class="col-sm-4">
                    <label class="text-right control-label">Fecha Desde:</label>
                    <p-calendar [(ngModel)]="reporteFiltros.fd_FechaDesde"
                                view="month"
                                dateFormat="mm/yy"
                                [yearNavigator]="true"
                                [yearRange]="yearRangeDesde"
                                [readonlyInput]="true"></p-calendar>
                  </div>
                  <div class="col-sm-4">
                    <label class="text-right control-label">Fecha Hasta:</label>
                    <p-calendar [(ngModel)]="reporteFiltros.fd_FechaHasta"
                                view="month" dateFormat="mm/yy"
                                [yearNavigator]="true"
                                [minDate]="reporteFiltros.fd_FechaDesde"
                                [yearRange]="yearRangeDesde"
                                [readonlyInput]="true"></p-calendar>
                  </div>
                  <div class="col-sm-4">
                    <button type="button" pButton icon="fa fa-bolt" iconPos="left" label="Obtener Reporte" (click)="getReporte()"></button>
                  </div>
                </div>
                <div class="col-sm-4 text-right">                  
                  <button type="button" pButton icon="fa fa-download" iconPos="left" label="Exportar Todo" (click)="dt.exportCSV()"></button>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" class="{{col.class}}">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-reporteCompra let-columns="columns">
              <tr>
                <td *ngFor="let col of columns">
                  {{(col.field == 'fn_Total' ? (reporteCompra[col.field] | currency) : (col.field == 'porcentaje' ? (reporteCompra[col.field] | number:'2.2') : (col.field == 'mes' ? (reporteCompra[col.field] | monthTransform ): reporteCompra[col.field])))}}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length">
                  No se encontró información.
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-sm-12">
          <p-chart type="pie" [data]="data" height="250px"></p-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast position="center" key="aceptar" (onClose)="closeError()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi {{messageIcon}}" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <button type="button" pButton (click)="closeError()" label="Ok" class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>
