<div class="inner-content">
  <div class="panel theme-panel">
    <div class="panel-heading">
      <h1 class="text-center">
        Productos
      </h1>
    </div>
    <div class="panel-body">
      <div *ngIf="!isEdit">
        <div class="row">
          <div class="col-sm-12">
            <button [disabled]="productosForBulkDelete.length == 0" class="btn btn-danger" (click)="bulkDelete()">
              <i class="fa fa-trash" aria-hidden="true"> Borrar Seleccionado(s)</i>
            </button>
            <button class="btn btn-info" (click)="newProducto()">
              <i class="fa fa-plus" aria-hidden="true"> Nuevo Producto</i>
            </button>
          </div>
        </div>
        <br />
        <p-table #dt [columns]="cols" [value]="productosArray" [paginator]="true" [rows]="10">
          <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">
              <div class="col-sm-6 text-left">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>
              <div class="col-sm-6 text-right">
                <button type="button" pButton icon="fa fa-download" iconPos="left" label="Exportar Todo" (click)="dt.exportCSV()"></button>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width:25%">Opciones</th>
              <th *ngFor="let col of columns" class="{{col.class}}">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td>
                <input type="checkbox" #check (click)="addTobulk(rowData)">
                <button class="btn btn-info" (click)="getProductoDetail(rowData)">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteProducto(rowData)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
              <td *ngFor="let col of columns">
                {{(col.field == 'fn_PrecioCompra' ? (rowData[col.field] | currency) : (col.field == 'fn_PrecioVenta' ? (rowData[col.field] | currency) : rowData[col.field]))}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="isEdit && categoriasArray && marcasArray && unidadesMedidaArray">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Producto</legend>
          <form [formGroup]="productoForm" (ngSubmit)="validateExistProducto(productoSelected)">
            <div class="row">
              <div class="col-sm-4" [ngClass]="{'has-success': !productoForm.get('productoCodigo').touched}">
                <label class="control-label">Código*</label>
                <input type="text"
                       [(ngModel)]="productoSelected.fc_Codigo"
                       formControlName="productoCodigo"
                       class="form-control"
                       placeholder="Código"
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': productoForm.get('productoCodigo').errors
     && productoForm.get('productoCodigo').touched}"></span>
                <div *ngIf="productoForm.get('productoCodigo').errors   && productoForm.get('productoCodigo').touched"
                     class="errorMessage">
                  <div *ngIf="productoForm.get('productoCodigo').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="productoForm.get('productoCodigo').errors.minlength || productoForm.get('productoCodigo').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !productoForm.get('productoName').touched}">
                <label class="control-label">Nombre*</label>
                <input type="text"
                       [(ngModel)]="productoSelected.fc_NombreProducto"
                       formControlName="productoName"
                       class="form-control"
                       placeholder="Nombre Producto"
                       required
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': productoForm.get('productoName').errors
     && productoForm.get('productoName').touched}"></span>
                <div *ngIf="productoForm.get('productoName').errors   && productoForm.get('productoName').touched"
                     class="errorMessage">
                  <div *ngIf="productoForm.get('productoName').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="productoForm.get('productoName').errors.minlength || productoForm.get('productoName').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !productoForm.get('productoStock').touched}">
                <label class="control-label">Stock*</label>
                <input type="text"
                       [(ngModel)]="productoSelected.fi_Stock"
                       formControlName="productoStock"
                       class="form-control"
                       placeholder="Stock"
                       maxlength="4" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': productoForm.get('productoStock').errors
     && productoForm.get('productoStock').touched}"></span>
                <div *ngIf="productoForm.get('productoStock').errors   && productoForm.get('productoStock').touched"
                     class="errorMessage">
                  <div *ngIf="productoForm.get('productoStock').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="productoForm.get('productoStock').errors.min">
                    Introduzca un número mayor o igual a 0
                  </div>
                  <div *ngIf="productoForm.get('productoStock').errors.pattern">
                    Introduzca un número válido.
                  </div>
                  <div *ngIf="productoForm.get('productoStock').errors.minlength || productoForm.get('productoStock').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 4 caracteres.
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-4" [ngClass]="{'has-success': !productoForm.get('productoPrecioCompra').touched}">
                <label class="control-label">Precio Compra*</label>
                <input type="text"
                       [(ngModel)]="productoSelected.fn_PrecioCompra"
                       formControlName="productoPrecioCompra"
                       class="form-control"
                       placeholder="Precio Compra"
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': productoForm.get('productoPrecioCompra').errors
     && productoForm.get('productoPrecioCompra').touched}"></span>
                <div *ngIf="productoForm.get('productoPrecioCompra').errors   && productoForm.get('productoPrecioCompra').touched"
                     class="errorMessage">
                  <div *ngIf="productoForm.get('productoPrecioCompra').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="productoForm.get('productoPrecioCompra').errors.min">
                    Introduzca un número mayor o igual a 0
                  </div>
                  <div *ngIf="productoForm.get('productoPrecioCompra').errors.pattern">
                    Introduzca un número válido.
                  </div>
                  <div *ngIf="productoForm.get('productoPrecioCompra').errors.minlength || productoForm.get('productoPrecioCompra').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !productoForm.get('productoPrecioVenta').touched}">
                <label class="control-label">Precio Venta*</label>
                <input type="text"
                       [(ngModel)]="productoSelected.fn_PrecioVenta"
                       formControlName="productoPrecioVenta"
                       class="form-control"
                       placeholder="Precio Venta"
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': productoForm.get('productoPrecioVenta').errors
     && productoForm.get('productoPrecioVenta').touched}"></span>
                <div *ngIf="productoForm.get('productoPrecioVenta').errors   && productoForm.get('productoPrecioVenta').touched"
                     class="errorMessage">
                  <div *ngIf="productoForm.get('productoPrecioVenta').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="productoForm.get('productoPrecioVenta').errors.min">
                    Introduzca un número mayor o igual a 0
                  </div>
                  <div *ngIf="productoForm.get('productoPrecioVenta').errors.pattern">
                    Introduzca un número válido.
                  </div>
                  <div *ngIf="productoForm.get('productoPrecioVenta').errors.minlength || productoForm.get('productoPrecioVenta').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !productoForm.get('productoStockMin').touched}">
                <label class="control-label">Min. Stock*</label>
                <input type="text"
                       [(ngModel)]="productoSelected.fi_StockMinimo"
                       formControlName="productoStockMin"
                       class="form-control"
                       placeholder="Stock Min."
                       required
                       maxlength="4" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': productoForm.get('productoStockMin').errors
     && productoForm.get('productoStockMin').touched}"></span>
                <div *ngIf="productoForm.get('productoStockMin').errors   && productoForm.get('productoStockMin').touched"
                     class="errorMessage">
                  <div *ngIf="productoForm.get('productoStockMin').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="productoForm.get('productoStockMin').errors.min">
                    Introduzca un número mayor o igual a 0
                  </div>
                  <div *ngIf="productoForm.get('productoStockMin').errors.pattern">
                    Introduzca un número válido.
                  </div>
                  <div *ngIf="productoForm.get('productoStockMin').errors.minlength || productoForm.get('productoStockMin').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 4 caracteres.
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-4" [ngClass]="{'has-success': !productoForm.get('productoCategoria').touched}">
                <label class="control-label">Categoría*</label>
                <select class="form-control" formControlName="productoCategoria" required [(ngModel)]="productoSelected.categoria">
                  <option value="0">Seleccione una Categoría...</option>
                  <option *ngFor="let categoria of categoriasArray" [value]="categoria.fi_IdCatCategoria">{{categoria.fc_NombreCategoria}}</option>
                </select>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !productoForm.get('productoMarca').touched}">
                <label class="control-label">Marca*</label>
                <select class="form-control" formControlName="productoMarca" required [(ngModel)]="productoSelected.marca">
                  <option value="0">Seleccione una Marca...</option>
                  <option *ngFor="let marca of marcasArray" [value]="marca.fi_IdCatMarca">{{marca.fc_NombreMarca}}</option>
                </select>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !productoForm.get('productoUnidadMedida').touched}">
                <label class="control-label">Unidad Medida*</label>
                <select class="form-control" formControlName="productoUnidadMedida" required [(ngModel)]="productoSelected.unidadMedida">
                  <option value="0">Seleccione una Unidad de Medida...</option>
                  <option *ngFor="let unidadMedida of unidadesMedidaArray" [value]="unidadMedida.fi_IdCatUnidadMedida">{{unidadMedida.fc_NombreUnidadMedida}}</option>
                </select>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-5 text-left">
                <button type="button" class="btn btn-default" (click)="isEdit = false">Cancelar</button>
                <button type="submit" class="btn btn-success" [disabled]="productoForm.status !== 'VALID'">Guardar</button>
              </div>
            </div>
          </form>
        </fieldset>
      </div>
      <br />


      <p-toast position="center" key="confirmation" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-6">
              <button type="button" pButton (click)="acceptConfirm()" label="Si" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
              <button type="button" pButton (click)="rejectConfirm()" label="No" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>

      <p-toast position="center" key="aceptar" (onClose)="closeError()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi {{messageIcon}}" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-12">
              <button type="button" pButton (click)="closeError()" label="Ok" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>
    </div>
  </div>
</div>
