<div class="inner-content">
  <div class="panel theme-panel">   
    <div class="panel-body">      
      <!--<br />-->
      <div>
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Configuración General</legend>
          <form [formGroup]="configuracionGeneralForm" (ngSubmit)="saveConfiguracionGeneral(configuracionGeneral)">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <label class="col-sm-4 text-right control-label">Nombre Empresa*</label>
                  <div class="col-sm-8" [ngClass]="{'has-success': !configuracionGeneralForm.get('nombreEmpresa').touched}">
                    <input type="text"
                           [(ngModel)]="configuracionGeneral.fc_NombreEmpresa"
                           formControlName="nombreEmpresa"
                           class="form-control"
                           placeholder="Nombre Comprobante"
                           required
                           maxlength="100" />
                    <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': configuracionGeneralForm.get('nombreEmpresa').errors
     && configuracionGeneralForm.get('nombreEmpresa').touched}"></span>
                    <div *ngIf="configuracionGeneralForm.get('nombreEmpresa').errors   && configuracionGeneralForm.get('nombreEmpresa').touched"
                         class="errorMessage">
                      <div *ngIf="configuracionGeneralForm.get('nombreEmpresa').errors.required">
                        Este Campo es Requerido.
                      </div>
                      <div *ngIf="configuracionGeneralForm.get('nombreEmpresa').errors.minlength || configuracionGeneralForm.get('nombreEmpresa').errors.maxlength">
                        Introduzca un texto válido min 1 caracter y max 100 caracteres.
                      </div>
                    </div>
                  </div>
                </div><br />
                <div class="row">
                  <label class="col-sm-4 text-right control-label">Logo Empresa*</label>
                  <div class="col-sm-8">
                    <p-fileUpload name="demo[]" customUpload="true" (uploadHandler)="onUpload($event)"
                                  accept="image/*">
                    </p-fileUpload>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-4">
                    <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
                      {{progress}}%
                    </span>

                    <span style="font-weight:bold;color:green;" *ngIf="message">
                      {{message}}
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <img [src]="logoSrc" height="250" class="rounded" alt="...">
              </div>
            </div>            
            <div class="row">
              <div class="col-sm-5 text-left">
                <button type="submit" class="btn btn-success" [disabled]="configuracionGeneralForm.status!=='VALID'">Guardar</button>
              </div>
            </div>
          </form>
        </fieldset>
      </div>
      <br />
      <p-toast position="center" key="confirmation" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-6">
              <button type="button" pButton (click)="acceptConfirm()" label="Si" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
              <button type="button" pButton (click)="rejectConfirm()" label="No" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>

      <p-toast position="center" key="aceptar" (onClose)="closeError()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi {{messageIcon}}" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-12">
              <button type="button" pButton (click)="closeError()" label="Ok" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>
    </div>
  </div>
</div>
