<div class="inner-content">
  <div class="panel theme-panel">
    <div class="panel-heading">
      <h1 class="text-center">
        Clientes
      </h1>
    </div>
    <div class="panel-body">
      <div *ngIf="!isEdit">
        <div class="row">
          <div class="col-sm-12">
            <button [disabled]="clientesForBulkDelete.length == 0" class="btn btn-danger" (click)="bulkDelete()">
              <i class="fa fa-trash" aria-hidden="true"> Borrar Seleccionado(s)</i>
            </button>
            <button class="btn btn-info" (click)="newCliente()">
              <i class="fa fa-plus" aria-hidden="true"> Nuevo Cliente</i>
            </button>
          </div>
        </div>
        <br />
        <p-table #dt [columns]="cols" [value]="clientesArray" [paginator]="true" [rows]="10">
          <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">
              <div class="col-sm-6 text-left">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>
              <div class="col-sm-6 text-right">
                <button type="button" pButton icon="fa fa-download" iconPos="left" label="Exportar Todo" (click)="dt.exportCSV()"></button>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width:25%">Opciones</th>
              <th *ngFor="let col of columns" class="{{col.class}}">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td>
                <input type="checkbox" #check (click)="addTobulk(rowData)">
                <button class="btn btn-info" (click)="getClienteDetail(rowData)">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteCliente(rowData)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="isEdit">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Cliente</legend>
          <form [formGroup]="clienteForm" (ngSubmit)="validateExistCliente(clienteSelected)">
            <div class="row">
              <div class="col-sm-4" [ngClass]="{'has-success': !clienteForm.get('clienteName').touched}">
                <label class="control-label">Nombre*</label>
                <input type="text"
                       [(ngModel)]="clienteSelected.fc_NombreCliente"
                       formControlName="clienteName"
                       class="form-control"
                       placeholder="Nombre Cliente"
                       required
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': clienteForm.get('clienteName').errors
     && clienteForm.get('clienteName').touched}"></span>
                <div *ngIf="clienteForm.get('clienteName').errors   && clienteForm.get('clienteName').touched"
                     class="errorMessage">
                  <div *ngIf="clienteForm.get('clienteName').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="clienteForm.get('clienteName').errors.minlength || clienteForm.get('clienteName').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !clienteForm.get('clienteRFC').touched}">
                <label class="control-label">RFC</label>
                <input type="text"
                       [(ngModel)]="clienteSelected.fc_RFC"
                       formControlName="clienteRFC"
                       class="form-control"
                       placeholder="RFC"
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': clienteForm.get('clienteRFC').errors
     && clienteForm.get('clienteRFC').touched}"></span>
                <div *ngIf="clienteForm.get('clienteRFC').errors   && clienteForm.get('clienteRFC').touched"
                     class="errorMessage">                  
                  <div *ngIf="clienteForm.get('clienteRFC').errors.minlength || clienteForm.get('clienteRFC').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !clienteForm.get('clienteEmail').touched}">
                <label class="control-label">Email*</label>
                <input type="text"
                       [(ngModel)]="clienteSelected.fc_Email"
                       formControlName="clienteEmail"
                       class="form-control"
                       placeholder="Email"
                       required
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': clienteForm.get('clienteEmail').errors
     && clienteForm.get('clienteEmail').touched}"></span>
                <div *ngIf="clienteForm.get('clienteEmail').errors   && clienteForm.get('clienteEmail').touched"
                     class="errorMessage">
                  <div *ngIf="clienteForm.get('clienteEmail').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="clienteForm.get('clienteEmail').errors.pattern">
                    Please enter a Valid Email
                  </div>
                  <div *ngIf="clienteForm.get('clienteEmail').errors.minlength || clienteForm.get('clienteEmail').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-4" [ngClass]="{'has-success': !clienteForm.get('clienteTelefono').touched}">
                <label class="control-label">Teléfono</label>
                <p-inputMask [(ngModel)]="clienteSelected.fc_Telefono"
                             mask="(999)-999-9999"
                             unmask="true"
                             formControlName="clienteTelefono"
                             styleClass="form-control"
                             placeholder="Teléfono"
                             maxlength="100"></p-inputMask>
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': clienteForm.get('clienteTelefono').errors
     && clienteForm.get('clienteTelefono').touched}"></span>
                <div *ngIf="clienteForm.get('clienteTelefono').errors   && clienteForm.get('clienteTelefono').touched"
                     class="errorMessage">
                  <div *ngIf="clienteForm.get('clienteTelefono').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="clienteForm.get('clienteTelefono').errors.minlength || clienteForm.get('clienteTelefono').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-8" [ngClass]="{'has-success': !clienteForm.get('clienteDireccion').touched}">
                <label class="control-label">Dirección*</label>
                <input type="text"
                       [(ngModel)]="clienteSelected.fc_Direccion"
                       formControlName="clienteDireccion"
                       class="form-control"
                       placeholder="Dirección"
                       required
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': clienteForm.get('clienteDireccion').errors
     && clienteForm.get('clienteDireccion').touched}"></span>
                <div *ngIf="clienteForm.get('clienteDireccion').errors   && clienteForm.get('clienteDireccion').touched"
                     class="errorMessage">
                  <div *ngIf="clienteForm.get('clienteDireccion').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="clienteForm.get('clienteDireccion').errors.minlength || clienteForm.get('clienteDireccion').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 150 caracteres.
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-5 text-left">
                <button type="button" class="btn btn-default" (click)="isEdit = false">Cancelar</button>
                <button type="submit" class="btn btn-success" [disabled]="clienteForm.status !== 'VALID'">Guardar</button>
              </div>
            </div>
          </form>
        </fieldset>
      </div>
      <br />


      <p-toast position="center" key="confirmation" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-6">
              <button type="button" pButton (click)="acceptConfirm()" label="Si" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
              <button type="button" pButton (click)="rejectConfirm()" label="No" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>

      <p-toast position="center" key="aceptar" (onClose)="closeError()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi {{messageIcon}}" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-12">
              <button type="button" pButton (click)="closeError()" label="Ok" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>
    </div>
  </div>
</div>
