<div *ngIf="!isEdit" class="inner-content">
  <div class="panel theme-panel">
    <div class="panel-heading">
      <h1 class="text-center">
        Gestión de Compras
      </h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">          
          <a [routerLink]='["/nuevacompra"]'>
            <button class="btn btn-info">
              <i class="fa fa-plus" aria-hidden="true"> Nueva Compra</i>
            </button>
          </a>          
        </div>
      </div>
      <br />      
      <br />
      <p-table #dt [columns]="cols" [value]="comprasArray" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
          <div class="ui-helper-clearfix">
            <div class="col-sm-6 text-left">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
            <div class="col-sm-6 text-right">
              <button type="button" pButton icon="fa fa-download" iconPos="left" label="Exportar Todo" (click)="dt.exportCSV()"></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width:25%">Opciones</th>
            <th *ngFor="let col of columns" class="{{col.class}}">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td>
              <button class="btn btn-info" (click)="getCompraDetail(rowData)">
                <i class="fa fa-edit" aria-hidden="true"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteCompra(rowData)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
            <td *ngFor="let col of columns">
              {{(col.field == 'fd_FechaCompra' ? (rowData[col.field] | date: 'dd/MM/yyyy') : (col.field == 'fn_Total' ? (rowData[col.field] | currency) : rowData[col.field]))}}
            </td>
          </tr>
        </ng-template>
      </p-table>


      <p-toast position="center" key="confirmation" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-6">
              <button type="button" pButton (click)="acceptConfirm()" label="Si" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
              <button type="button" pButton (click)="rejectConfirm()" label="No" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>

      <p-toast position="center" key="aceptar" (onClose)="closeError()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi {{messageIcon}}" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-12">
              <button type="button" pButton (click)="closeError()" label="Ok" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>
    </div>
  </div>
</div>
<configuracion-nueva-compra *ngIf="isEdit && compraModel"
                            [compraModel]="compraModel"
                            [isEdition]="true"
                            (cancelEdit)="isEdit = !isEdit"></configuracion-nueva-compra>
