<div class="inner-content">
  <div class="panel theme-panel">
    <div class="panel-heading">
      <h3 *ngIf="!isEdition" class="panel-title"> <i class="fa fa-star" aria-hidden="true"></i> Nueva Compra</h3>
      <h3 *ngIf="isEdition" class="panel-title"> <i class="fa fa-star" aria-hidden="true"></i> Detalle Compra</h3>
    </div>
    <div class="panel-body">
      <div class="row clearfix">
        <div class="col-xs-12 col-md-9">
          <label>Producto:</label>
          <p-autoComplete [suggestions]="filteredProductos"
                          (completeMethod)="filterProduct($event)"
                          (onSelect)="selectProducto($event)"
                          field="nombreAutocomplete"                          
                          size="100"
                          placeholder="Producto" [minLength]="3"></p-autoComplete>
          <br /><br />
          <p-table #dt [columns]="cols" [value]="productosArray" [scrollable]="true" scrollHeight="200px" (onEditComplete)="updateTotal($event.data)">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th>Opciones</th>
                <th *ngFor="let col of columns" class="{{col.class}}">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr [pSelectableRow]="rowData">
                <td>
                  <button class="btn btn-danger" (click)="deleteProducto(rowData)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
                <td>{{rowData.fc_Codigo}}</td>
                <td>{{rowData.fc_NombreProducto}}</td>
                <td [pEditableColumn]="rowData">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input type="number" min="1" (change)="updateTotal(rowData)" [(ngModel)]="rowData.fi_Cantidad">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData.fi_Cantidad}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td [pEditableColumn]="rowData">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input type="text" [(ngModel)]="rowData.fn_PrecioCompra">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData.fn_PrecioCompra | currency}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>{{rowData.fn_Total | currency}}</td>
              </tr>
            </ng-template>
          </p-table>

        </div>
        <aside class="col-xs-12 col-md-3">
          <form [formGroup]="compraForm" (ngSubmit)="realizarCompra()">
            <div class="row text-center">
              <div class="col-md-12 hdrdataTable">
                <h1>{{compraModel.fn_Total | currency}}</h1>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-6">
                <label>Comprobante*</label>
                <select class="form-control" formControlName="compraComprobante" required [(ngModel)]="compraModel.comprobante">
                  <option value="0">Comprobante...</option>
                  <option *ngFor="let comprobante of comprobantesArray" [value]="comprobante.fi_IdCatComprobante">{{comprobante.fc_NombreComprobante}}</option>
                </select>
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': compraForm.get('compraComprobante').errors
     && compraForm.get('compraComprobante').touched}"></span>
                <div *ngIf="compraForm.get('compraComprobante').errors   && compraForm.get('compraComprobante').touched"
                     class="errorMessage">
                  <div *ngIf="compraForm.get('compraComprobante').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="compraForm.get('compraComprobante').errors.min">
                    Este Campo es Requerido.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label>Tipo de Pago*</label>
                <select class="form-control" formControlName="compraMetodoPago" required [(ngModel)]="compraModel.metodoPago">
                  <option value="0">Método de Pago...</option>
                  <option *ngFor="let metodoPago of metodoPagosArray" [value]="metodoPago.fi_IdCatMetodoPago">{{metodoPago.fc_NombreMetodoPago}}</option>
                </select>
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': compraForm.get('compraMetodoPago').errors
     && compraForm.get('compraMetodoPago').touched}"></span>
                <div *ngIf="compraForm.get('compraMetodoPago').errors   && compraForm.get('compraMetodoPago').touched"
                     class="errorMessage">
                  <div *ngIf="compraForm.get('compraMetodoPago').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="compraForm.get('compraMetodoPago').errors.min">
                    Este Campo es Requerido.
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-6" [ngClass]="{'has-success': !compraForm.get('compraNumero').touched}">
                <label>No. Compra*</label>
                <input type="text"
                       [(ngModel)]="compraModel.fc_NumeroCompra"
                       formControlName="compraNumero"
                       class="form-control"
                       required
                       placeholder="Número de Compra"
                       maxlength="4" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': compraForm.get('compraNumero').errors
     && compraForm.get('compraNumero').touched}"></span>
                <div *ngIf="compraForm.get('compraNumero').errors   && compraForm.get('compraNumero').touched"
                     class="errorMessage">
                  <div *ngIf="compraForm.get('compraNumero').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="compraForm.get('compraNumero').errors.minlength || compraForm.get('compraNumero').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 4 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-md-6" [ngClass]="{'has-success': !compraForm.get('compraDescuento').touched}">
                <label>Descuento</label>
                <input type="text"
                       [(ngModel)]="compraModel.fn_DescuentoPorcentaje"
                       formControlName="compraDescuento"
                       class="form-control"
                       (change)="aplicaDescuento()"
                       placeholder="Descuento"
                       maxlength="3" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': compraForm.get('compraDescuento').errors
     && compraForm.get('compraDescuento').touched}"></span>
                <div *ngIf="compraForm.get('compraDescuento').errors   && compraForm.get('compraDescuento').touched"
                     class="errorMessage">
                  <div *ngIf="compraForm.get('compraDescuento').errors.min">
                    Introduzca un número mayor o igual a 0
                  </div>
                  <div *ngIf="compraForm.get('compraDescuento').errors.max">
                    Introduzca un número menor o igual a 100
                  </div>
                  <div *ngIf="compraForm.get('compraDescuento').errors.pattern">
                    Introduzca un número válido.
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12">
                <label>Fecha*</label>
                <p-calendar [(ngModel)]="compraModel.fd_FechaCompra" [maxDate]="maxDate" formControlName="compraFecha"></p-calendar>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12" [ngClass]="{'has-success': !compraForm.get('compraProveedor').touched}">
                <label>Proveedor:</label>
                <select class="form-control" formControlName="compraProveedor" required [(ngModel)]="compraModel.proveedor">
                  <option value="0">Proveedor...</option>
                  <option *ngFor="let proveedor of proveedorsArray" [value]="proveedor.fi_IdCatProveedor">{{proveedor.fc_NombreProveedor}}</option>
                </select>
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': compraForm.get('compraProveedor').errors
     && compraForm.get('compraProveedor').touched}"></span>
                <div *ngIf="compraForm.get('compraProveedor').errors   && compraForm.get('compraProveedor').touched"
                     class="errorMessage">
                  <div *ngIf="compraForm.get('compraProveedor').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="compraForm.get('compraProveedor').errors.min">
                    Este Campo es Requerido.
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-8">
                <p>SubTotal</p>
                <p>Descuento</p>
                <p>Total</p>
              </div>
              <div class="col-md-4 text-right">
                <p>{{(compraModel.fn_Total + compraModel.fn_DescuentoCantidad) | currency}}</p>
                <p>{{compraModel.fn_DescuentoCantidad | currency}}</p>
                <p>{{compraModel.fn_Total | currency}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" [disabled]="!isValid()" class="btn hdrdataTable">
                  Guardar Compra
                </button>
                <button type="button" class="btn hdrdataTable" (click)="cancelarCompra()">
                  Cancelar
                </button>
              </div>
            </div>
          </form>
        </aside>
      </div>

      <p-toast position="center" key="confirmation" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-6">
              <button type="button" pButton (click)="acceptConfirm()" label="Si" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
              <button type="button" pButton (click)="rejectConfirm()" label="No" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>

      <p-toast position="center" key="aceptar" (onClose)="closeAccept()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi {{messageIcon}}" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-12">
              <button type="button" pButton (click)="closeAccept()" label="Ok" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>
    </div>
  </div>
</div>
