<div class="content-title">
  <h3 class="main-title">Inicio</h3>
</div>
<div class="inner-content">
  <div class="panel theme-panel">
    <div class="panel-body">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="text-center">
            <h1>{{mainService.nombreEmpresa}}</h1>
          </div>
        </div>
      </div>
      <div class="row clearfix logo">
        <div class="col-md-12 column">
          <div class="text-center">
            <img [src]="logo" height="250" class="rounded" alt="...">
          </div>
        </div>
      </div>
      <!--<div class="row clearfix">
        <div class="col-md-3 column">
          <a class="linkModal" data-action="" data-function="guardarProducto">
            <div class="feature-box">
              <span class="feature-icon"><i class="fa fa-th-list"></i></span>
              <h4>Nuevo Producto</h4>

            </div>
          </a>
        </div>
        <div class="col-md-3 column">
          <a class="link" href="">
            <div class="feature-box">
              <span class="feature-icon"><i class="fa fa-cart-plus"></i></span>
              <h4>Nueva Compra</h4>
            </div>
          </a>
        </div>
        <div class="col-md-3 column">
          <a class="link" href="">
            <div class="feature-box">

              <span class="feature-icon"><i class="fa fa-shopping-cart"></i></span>
              <h4>Nueva Venta</h4>
            </div>
          </a>
        </div>
        <div class="col-md-3 column">
          <a class="linkModal" data-action="" data-function="guardarCliente">
            <div class="feature-box">
              <span class="feature-icon"><i class="fa fa-id-badge"></i></span>
              <h4>Nuevo Cliente</h4>
            </div>
          </a>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-md-3 column">
          <a class="linkModal" data-action="" data-function="guardarProveedor">
            <div class="feature-box">
              <span class="feature-icon"><i class="fa fa-truck fa-flip-horizontal"></i></span>
              <h4>Nuevo Proveedor</h4>
            </div>
          </a>
        </div>
        <div class="col-md-3 column">
          <a class="linkModal" data-action="" data-function="guardarUsuario">
            <div class="feature-box">
              <span class="feature-icon"><i class="fa fa-users"></i></span>
              <h4>Nuevo Usuario</h4>
            </div>
          </a>
        </div>
        <div class="col-md-3 column">
          <div class="feature-box">
            <span class="feature-icon"><i class="fa fa-bar-chart"></i></span>
            <h4>Reportes</h4>
          </div>
        </div>
        <div class="col-md-3 column">
          <a class="link" href="">
            <div class="feature-box">
              <span class="feature-icon"><i class="fa fa-gear"></i></span>
              <h4>Configuraci&oacute;n</h4>
            </div>
          </a>
        </div>
      </div>-->
    </div>
  </div>
</div>
