<div class="inner-content">
  <div class="panel theme-panel">
    <div class="panel-heading">
      <h1 class="text-center">
        Reporte Productos Más Vendidos
      </h1>
    </div>
    <div class="panel-body">
      <div class="row clearfix" style="height:50%">
        <div class="col-xs-12 col-md-12">
          <p-table [columns]="cols" [value]="cars" dataKey="vin">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 3em"></th>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
              <tr>
                <td>
                  <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                  </a>
                </td>
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
              <tr>
                <td [attr.colspan]="columns.length + 1">
                  <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                    <div class="ui-g-12 ui-md-3" style="text-align:center">
                      <img [attr.alt]="rowData.brand" src="assets/showcase/images/demo/car/{{rowData.brand}}.png">
                    </div>
                    <div class="ui-g-12 ui-md-9">
                      <div class="ui-g">
                        <div class="ui-g-12">
                          <b>Vin:</b> {{rowData.vin}}
                        </div>
                        <div class="ui-g-12">
                          <b>Year:</b> {{rowData.year}}
                        </div>
                        <div class="ui-g-12">
                          <b>Brand:</b> {{rowData.brand}}
                        </div>
                        <div class="ui-g-12">
                          <b>Color:</b> {{rowData.color}}
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-sm-12">
          <p-chart type="bar" [data]="data" height="250px" (onDataSelect)="selectData($event)"></p-chart>
          <button *ngIf="showRegresar" type="button" class="btn btn-default" (click)="loadReporteMasVendidos()">Regresar a Productos</button>
        </div>
      </div>
    </div>
  </div>
</div>
