<div class="inner-content">
  <div class="panel theme-panel">
    <div class="panel-heading">
      <h1 class="text-center">
        Proveedores
      </h1>
    </div>
    <div class="panel-body">
      <div *ngIf="!isEdit">
        <div class="row">
          <div class="col-sm-12">
            <button [disabled]="proveedorsForBulkDelete.length == 0" class="btn btn-danger" (click)="bulkDelete()">
              <i class="fa fa-trash" aria-hidden="true"> Borrar Seleccionado(s)</i>
            </button>
            <button class="btn btn-info" (click)="newProveedor()">
              <i class="fa fa-plus" aria-hidden="true"> Nuevo Proveedor</i>
            </button>
          </div>
        </div>
        <br />
        <p-table #dt [columns]="cols" [value]="proveedorsArray" [paginator]="true" [rows]="10">
          <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">
              <div class="col-sm-6 text-left">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>
              <div class="col-sm-6 text-right">
                <button type="button" pButton icon="fa fa-download" iconPos="left" label="Exportar Todo" (click)="dt.exportCSV()"></button>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width:25%">Opciones</th>
              <th *ngFor="let col of columns" class="{{col.class}}">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td>
                <input type="checkbox" #check (click)="addTobulk(rowData)">
                <button class="btn btn-info" (click)="getProveedorDetail(rowData)">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteProveedor(rowData)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="isEdit">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Proveedor</legend>
          <form [formGroup]="proveedorForm" (ngSubmit)="validateExistProveedor(proveedorSelected)">
            <div class="row">
              <div class="col-sm-4" [ngClass]="{'has-success': !proveedorForm.get('proveedorRazonSocial').touched}">
                <label class="control-label">Razón Social</label>
                <input type="text"
                       [(ngModel)]="proveedorSelected.fc_RazonSocial"
                       formControlName="proveedorRazonSocial"
                       class="form-control"
                       placeholder="Razón Social"
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': proveedorForm.get('proveedorRazonSocial').errors
     && proveedorForm.get('proveedorRazonSocial').touched}"></span>
                <div *ngIf="proveedorForm.get('proveedorRazonSocial').errors   && proveedorForm.get('proveedorRazonSocial').touched"
                     class="errorMessage">
                  <div *ngIf="proveedorForm.get('proveedorRazonSocial').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="proveedorForm.get('proveedorRazonSocial').errors.minlength || proveedorForm.get('proveedorRazonSocial').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !proveedorForm.get('proveedorName').touched}">
                <label class="control-label">Nombre*</label>
                <input type="text"
                       [(ngModel)]="proveedorSelected.fc_NombreProveedor"
                       formControlName="proveedorName"
                       class="form-control"
                       placeholder="Nombre Proveedor"
                       required
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': proveedorForm.get('proveedorName').errors
     && proveedorForm.get('proveedorName').touched}"></span>
                <div *ngIf="proveedorForm.get('proveedorName').errors   && proveedorForm.get('proveedorName').touched"
                     class="errorMessage">
                  <div *ngIf="proveedorForm.get('proveedorName').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="proveedorForm.get('proveedorName').errors.minlength || proveedorForm.get('proveedorName').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-4" [ngClass]="{'has-success': !proveedorForm.get('proveedorRFC').touched}">
                <label class="control-label">RFC</label>
                <input type="text"
                       [(ngModel)]="proveedorSelected.fc_RFC"
                       formControlName="proveedorRFC"
                       class="form-control"
                       placeholder="RFC"
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': proveedorForm.get('proveedorRFC').errors
     && proveedorForm.get('proveedorRFC').touched}"></span>
                <div *ngIf="proveedorForm.get('proveedorRFC').errors   && proveedorForm.get('proveedorRFC').touched"
                     class="errorMessage">
                  <div *ngIf="proveedorForm.get('proveedorRFC').errors.minlength || proveedorForm.get('proveedorRFC').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>              
            </div>
            <br />
            <div class="row">
              <div class="col-sm-4" [ngClass]="{'has-success': !proveedorForm.get('proveedorTelefono').touched}">
                <label class="control-label">Teléfono</label>
                <p-inputMask [(ngModel)]="proveedorSelected.fc_Telefono"
                             mask="(999)-999-9999"
                             unmask="true"
                             formControlName="proveedorTelefono"
                             styleClass="form-control"
                             placeholder="Teléfono"
                             maxlength="100"></p-inputMask>
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': proveedorForm.get('proveedorTelefono').errors
     && proveedorForm.get('proveedorTelefono').touched}"></span>
                <div *ngIf="proveedorForm.get('proveedorTelefono').errors   && proveedorForm.get('proveedorTelefono').touched"
                     class="errorMessage">
                  <div *ngIf="proveedorForm.get('proveedorTelefono').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="proveedorForm.get('proveedorTelefono').errors.minlength || proveedorForm.get('proveedorTelefono').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
              <div class="col-sm-8" [ngClass]="{'has-success': !proveedorForm.get('proveedorDireccion').touched}">
                <label class="control-label">Dirección*</label>
                <input type="text"
                       [(ngModel)]="proveedorSelected.fc_Direccion"
                       formControlName="proveedorDireccion"
                       class="form-control"
                       placeholder="Dirección"
                       required
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': proveedorForm.get('proveedorDireccion').errors
     && proveedorForm.get('proveedorDireccion').touched}"></span>
                <div *ngIf="proveedorForm.get('proveedorDireccion').errors   && proveedorForm.get('proveedorDireccion').touched"
                     class="errorMessage">
                  <div *ngIf="proveedorForm.get('proveedorDireccion').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="proveedorForm.get('proveedorDireccion').errors.minlength || proveedorForm.get('proveedorDireccion').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 150 caracteres.
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-4" [ngClass]="{'has-success': !proveedorForm.get('proveedorEmail').touched}">
                <label class="control-label">Email*</label>
                <input type="text"
                       [(ngModel)]="proveedorSelected.fc_Email"
                       formControlName="proveedorEmail"
                       class="form-control"
                       placeholder="Email"
                       required
                       maxlength="100" />
                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback': proveedorForm.get('proveedorEmail').errors
     && proveedorForm.get('proveedorEmail').touched}"></span>
                <div *ngIf="proveedorForm.get('proveedorEmail').errors   && proveedorForm.get('proveedorEmail').touched"
                     class="errorMessage">
                  <div *ngIf="proveedorForm.get('proveedorEmail').errors.required">
                    Este Campo es Requerido.
                  </div>
                  <div *ngIf="proveedorForm.get('proveedorEmail').errors.pattern">
                    Please enter a Valid Email
                  </div>
                  <div *ngIf="proveedorForm.get('proveedorEmail').errors.minlength || proveedorForm.get('proveedorEmail').errors.maxlength">
                    Introduzca un texto válido min 1 caracter y max 100 caracteres.
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-5 text-left">
                <button type="button" class="btn btn-default" (click)="isEdit = false">Cancelar</button>
                <button type="submit" class="btn btn-success" [disabled]="proveedorForm.status !== 'VALID'">Guardar</button>
              </div>
            </div>
          </form>
        </fieldset>
      </div>
      <br />


      <p-toast position="center" key="confirmation" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-6">
              <button type="button" pButton (click)="acceptConfirm()" label="Si" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
              <button type="button" pButton (click)="rejectConfirm()" label="No" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>

      <p-toast position="center" key="aceptar" (onClose)="closeError()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi {{messageIcon}}" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-12">
              <button type="button" pButton (click)="closeError()" label="Ok" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>
    </div>
  </div>
</div>
